Project-04-YouTube-Outlier-Finder/YouTube Outlier Finder.json
{
  "name": "YouTube Outlier Finder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "97da46bd-b496-4aaa-87e9-08ff804f662c",
      "name": "Schedule (каждые 12 часов)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1744,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Список ниш/ключевых слов для поиска\n// Редактируй этот список под себя!\nconst queries = [\n  \"Finance / Investing Explainers\",\n  \"Dark Geography / Abandoned Places\",\n  \"True Crime / Missing Persons\",\n  \"Science Explainers\",\n  \"Geopolitics / Military Analysis\",\n  \"AI / Future Tech\",\n  \"Space / Astronomy\",\n  \"Psychology / Human Behavior\",\n  \"History Mysteries / Ancient Civilizations\",\n  \"Health & Longevity / Biohacking\"\n];\n\nconst items = queries.map(q => ({ json: { query: q } }));\nreturn items;"
      },
      "id": "9401a252-7904-4bac-ae45-e5ccc106f48c",
      "name": "Список ниш",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        448
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "key",
              "value": "API"
            }
          ]
        },
        "options": {}
      },
      "id": "62e528db-0dee-47ec-8368-1808d98e1427",
      "name": "YouTube Search API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1360,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем video ID и базовую инфу из результатов поиска\nconst items = $input.all();\n// HTTP-нода \"YouTube Search API\" заменяет json ответом API,\n// поэтому исходный query берём обратно из ноды \"Список ниш\" по индексу\nconst originalQueries = $('Список ниш').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n\tconst videos = items[i].json.items || [];\n\tconst query = originalQueries[i]?.json?.query || 'Unknown';\n\n\tfor (const video of videos) {\n\t\tif (video.id && video.id.videoId) {\n\t\t\tresults.push({\n\t\t\t\tjson: {\n\t\t\t\t\tvideoId: video.id.videoId,\n\t\t\t\t\ttitle: video.snippet.title,\n\t\t\t\t\tchannelTitle: video.snippet.channelTitle,\n\t\t\t\t\tchannelId: video.snippet.channelId,\n\t\t\t\t\tpublishedAt: video.snippet.publishedAt,\n\t\t\t\t\tthumbnail: video.snippet.thumbnails?.high?.url || video.snippet.thumbnails?.default?.url,\n\t\t\t\t\tquery\n\t\t\t\t}\n\t\t\t});\n\t\t}\n\t}\n}\n\nreturn results;\n"
      },
      "id": "7f3e63f9-ec64-498b-bd07-43b9a7e0eea3",
      "name": "Извлечь видео",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        432
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics,snippet,contentDetails"
            },
            {
              "name": "id",
              "value": "={{$json.ids}}"
            },
            {
              "name": "key",
              "value": "api"
            }
          ]
        },
        "options": {}
      },
      "id": "c293e9e8-46b9-4476-86cf-f0b1f5733f4b",
      "name": "Получить статистику",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst results = [];\n\nconst MAX_AGE_DAYS = 7;\nconst MIN_VIEWS = 100000;\n\nfor (const item of items) {\n\n    const v = item.json;\n\n    if (v.ageDays > MAX_AGE_DAYS)\n        continue;\n\n    if (v.viewCount < MIN_VIEWS)\n        continue;\n\n    results.push(item);\n\n}\n\nif (!results.length) {\n\n    return [\n        {\n            json: {\n                skip: true\n            }\n        }\n    ];\n\n}\n\nresults.sort(\n    (a,b)=>b.json.viewsPerHour-a.json.viewsPerHour\n);\n\nreturn results;"
      },
      "id": "1de85332-2185-4407-904f-7cc6a1851216",
      "name": "Фильтр аутлайеров",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c691a58e-183f-4af3-b995-26a1f95f055e",
      "name": "Есть результаты?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        416,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-skip-2",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d240af13-f536-44c0-83ba-137e52962261",
      "name": "Новые видео?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -752,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Формируем красивое сообщение для Telegram — для КАЖДОГО видео из инпута\nconst items = $input.all();\n\nconst results = items.map(({ json: item }) => {\n\tconst viewsFormatted = new Intl.NumberFormat('ru-RU').format(item.viewCount);\n\tconst likesFormatted = new Intl.NumberFormat('ru-RU').format(item.likeCount);\n\tconst commentsFormatted = new Intl.NumberFormat('ru-RU').format(item.commentCount);\n\tconst vphFormatted = new Intl.NumberFormat('ru-RU').format(item.viewsPerHour);\n\n\tconst emoji = item.viewCount > 1000000 ? '🔥🔥🔥' : item.viewCount > 500000 ? '🔥🔥' : '🔥';\n\n\tconst message = `${emoji} <b>АУТЛАЙЕР НАЙДЕН</b>\n\n📺 <b>${item.title}</b>\n\n👤 Канал: ${item.channelTitle}\n🔍 Ниша: ${item.query?.replace(/\\s+/g, '_') || 'unknown'}\n\n📊 <b>Статистика:</b>\n👁 Просмотры: <b>${viewsFormatted}</b>\n❤️ Лайки: ${likesFormatted}\n💬 Комментарии: ${commentsFormatted}\n⚡️ Просмотров/час: <b>${vphFormatted}</b>\n📈 Engagement: ${item.engagementRate}%\n🕐 Возраст: ${item.ageDays} дней\n\n🔗 ${item.videoUrl}`;\n\n\treturn { json: { message, videoUrl: item.videoUrl, title: item.title } };\n});\n\nreturn results;\n"
      },
      "id": "b5112cb8-1a59-48b2-bf2b-21fa13133ae8",
      "name": "Форматировать сообщение",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        224
      ]
    },
    {
      "parameters": {
        "chatId": "453133629",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a5ce21fc-a81f-4949-8a14-9f600db7ed35",
      "name": "Отправить в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        976,
        240
      ],
      "webhookId": "921b159d-6252-47b3-a4db-aa1dd6ed02a6",
      "credentials": {
        "telegramApi": {
          "id": "IMu3gYCp2TRyK1ZD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ничего нового — просто логируем\nconsole.log('Нет новых аутлайеров в этом цикле');\nreturn [{ json: { status: 'no_new_outliers', timestamp: new Date().toISOString() } }];"
      },
      "id": "2685a081-bc4f-45d0-81f9-a04258b0217c",
      "name": "Нет новых (лог)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst batchSize = 50;\nconst batches = [];\n\nfor (let i = 0; i < items.length; i += batchSize) {\n\n    const batch = items.slice(i, i + batchSize);\n\n    batches.push({\n        json: {\n            ids: batch.map(item => item.json.videoId).join(\",\"),\n            original: batch.map(item => item.json)\n        }\n    });\n\n}\n\nreturn batches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        80
      ],
      "id": "13ac9d44-152d-48a3-a0e5-6ba86a29ce22",
      "name": "Подготовить батчи"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        80
      ],
      "id": "d544e037-3176-4b02-b135-19c40af84e38",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const batches = $input.all();\n\nconst results = [];\n\nfor (const batch of batches) {\n\n    const original = batch.json.original || [];\n\n    const videos = batch.json.items || [];\n\n    for (const video of videos) {\n\n        const source = original.find(v => v.videoId === video.id);\n\n        if (!source) continue;\n\n        const snippet = video.snippet || {};\n        const stats = video.statistics || {};\n        const content = video.contentDetails || {};\n\n        const viewCount = Number(stats.viewCount || 0);\n        const likeCount = Number(stats.likeCount || 0);\n        const commentCount = Number(stats.commentCount || 0);\n\n        const publishedAt = new Date(snippet.publishedAt);\n        const ageHours = (Date.now() - publishedAt) / 3600000;\n        const ageDays = ageHours / 24;\n\n        const viewsPerHour = Math.round(\n            viewCount / Math.max(ageHours, 1)\n        );\n\n        const engagementRate =\n            viewCount > 0\n                ? Number((((likeCount + commentCount) / viewCount) * 100).toFixed(2))\n                : 0;\n\n        results.push({\n            json: {\n\n                videoId: video.id,\n\n                title: snippet.title,\n\n                channelTitle: snippet.channelTitle,\n\n                channelId: snippet.channelId,\n\n                publishedAt: snippet.publishedAt,\n\n                ageDays: Number(ageDays.toFixed(1)),\n\n                ageHours: Math.round(ageHours),\n\n                viewCount,\n\n                likeCount,\n\n                commentCount,\n\n                viewsPerHour,\n\n                engagementRate,\n\n                duration: content.duration,\n\n                thumbnail:\n                    snippet.thumbnails?.high?.url ||\n                    snippet.thumbnails?.medium?.url ||\n                    snippet.thumbnails?.default?.url ||\n                    \"\",\n\n                videoUrl:\n                    `https://youtube.com/watch?v=${video.id}`,\n\n                query: source.query || \"Unknown\"\n\n            }\n        });\n\n    }\n\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c02fb34a-84c8-4809-a21d-43af320bea11",
      "name": "Развернуть статистику"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем, отправлялось ли уже это видео\n// Используем встроенное хранилище n8n (workflow static data),\n// а не файловую систему — так надёжнее (работает и в облаке n8n,\n// и переживает перезапуск контейнера).\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sentVideos) staticData.sentVideos = {};\n\nconst items = $input.all();\nconst newItems = [];\n\n// Удаляем записи старше 30 дней, чтобы объект не рос бесконечно\nconst thirtyDaysAgo = Date.now() - (30 * 24 * 60 * 60 * 1000);\nfor (const id of Object.keys(staticData.sentVideos)) {\n\tif (staticData.sentVideos[id] < thirtyDaysAgo) {\n\t\tdelete staticData.sentVideos[id];\n\t}\n}\n\n// Оставляем только новые видео\nfor (const item of items) {\n\tconst videoId = item.json.videoId;\n\tif (!staticData.sentVideos[videoId]) {\n\t\tnewItems.push(item);\n\t\tstaticData.sentVideos[videoId] = Date.now();\n\t}\n}\n\n// Если новых видео нет — явно возвращаем skip,\n// чтобы нода \"Новые видео?\" могла это отследить\nif (newItems.length === 0) {\n\treturn [{ json: { skip: true } }];\n}\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        320
      ],
      "id": "52791435-6fb0-4ac9-9875-352818fdf6f9",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule (каждые 12 часов)": {
      "main": [
        [
          {
            "node": "Список ниш",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список ниш": {
      "main": [
        [
          {
            "node": "YouTube Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search API": {
      "main": [
        [
          {
            "node": "Извлечь видео",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечь видео": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить статистику": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Фильтр аутлайеров": {
      "main": [
        [
          {
            "node": "Есть результаты?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть результаты?": {
      "main": [
        [
          {
            "node": "Нет новых (лог)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Форматировать сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Новые видео?": {
      "main": [
        [
          {
            "node": "Нет новых (лог)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Подготовить батчи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать сообщение": {
      "main": [
        [
          {
            "node": "Отправить в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить батчи": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Получить статистику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Развернуть статистику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Развернуть статистику": {
      "main": [
        [
          {
            "node": "Фильтр аутлайеров",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Новые видео?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2f9871f9-168e-48d6-b2b9-bfc3e4109b84",
  "meta": {
    "instanceId": "93d399690b0e75496fa34dd6eaa100ad6b91209c69c6d5f164f0ec225f8d765b"
  },
  "nodeGroups": [],
  "id": "XNccb7QOhwErW3MR",
  "tags": []
}